body {
    background-color: black; /* The page background will be black */
    margin:0;
}

.image_grid {
    text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: lightgrey;
  margin: 0;
  margin-top: 30px;
}

.topbar {
  overflow: hidden;
  background-color: darkslategray;
  border: lightgrey;
  border-style: solid;
  border-radius: 10px;
}

.topbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 83px;
  font-size: 15px;
}
