<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "visual_reddit/grid.css" %}">
</head>

<form method="get" action="/search">
    <input id="keyword" type="text" name="keyword">
    <button id="search_submit" type="submit">Submit</button>
</form>

{% if image_dict %}
    <div class="image_grid">
        {% for key, value in image_dict.items %}
            <a href="https://reddit.com/{{ key }}">
                <img border="0" alt="visual-reddit" src="{{ value.0 }}" width="300" height="300" title="{{ value.1 }}">
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No images are available.</p>
{% endif %}